.container {
  display: flex;
  position: absolute;

  justify-content: center;
  width: 100%;
  height: 100%;
}

.room-name {
  position: absolute;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
}

.messages-container {
  flex: 1;
  position: relative;
  margin-top: 50px;
  margin-left: 15px;
}

.new-message {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-left: 30px;
}

.send-message {
  width: 90%;
  font-family: "Mulish", sans-serif;
  height: 25px;
  display: block;
}

.send-message-btn {
  position: relative;
  font-family: "Mulish", sans-serif;
  width: 100px;
  right: 30px;
  color: white;
  font-weight: bolder;
  background-color: #769446;
  border: none;
}
.send-message-btn:hover {
  background-color: #9dc26a;
}
