.container {
  display: flex;
  position: absolute;
  left: -50rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: moveAcross 0.3s linear, lateAppear 0.7s linear;
  z-index: 0;
}

@keyframes moveAcross {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

@keyframes lateAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.room-name {
  position: absolute;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
}

.messages-container {
  flex: 1;
  position: relative;
  margin-top: 50px;
  margin-left: 15px;
}

.logs-container {
  flex: 1;
  position: relative;
  margin-top: 50px;
  right: -25%;
}

.new-message {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-left: 30px;
}

.send-message {
  width: 90%;
  font-family: "Mulish", sans-serif;
  height: 25px;
  display: block;
}

.send-message-btn {
  position: relative;
  font-family: "Mulish", sans-serif;
  width: 100px;
  right: 30px;
  color: white;
  font-weight: bolder;
  background-color: #769446;
  border: none;
}
.send-message-btn:hover {
  background-color: #9dc26a;
}
