.page-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #6d5dd2;
  overflow: hidden;
}

.page-title-rooms {
  position: absolute;
  font-size: 5rem;
  top: -10rem;
  transition: all 1s;
  color: white;
  font-family: "MuseoModerno", cursive;
}

.chat-wrap {
  position: absolute;
  width: 80%;
  border-radius: 5px;
  top: 30rem;
  height: 75vh;
  transition: all 1s;
  background-color: white;
}

.rooms-list {
  position: absolute;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 800;
  top: 30px;
  width: 20rem;
}

.rooms-list > li {
  padding: 15px;
}

.chat-box {
  margin-top: 50px;
  margin-left: 10rem;
  width: 74%;
  height: 89%;
  border-radius: 0px 6px 6px 0px;
  background-color: #c4c4c444;
}
